
.circle{
    background-color: #fff;
    border-radius: 50%;
  }
  
  .menu-title{
    font-weight: 600;
    padding-left: 5px;
  }
  
  .notification-title{
    text-transform: capitalize;
    font-weight: 600;
    color: #707070;
    font-size: 0.8rem;
  }
  
  .notification-sub-title{
    text-transform: capitalize;
    color: #707070;
    font-size: 16px;
    height: 50px;
    font-weight: 700;
  }
  
  .notification-no{
    font-weight: 600;
    color: #707070;
    font-size: 42px;
  }
  
  .notification-card{
    margin-bottom: 0.8rem;
    width: 180px;
    height: 150px;
    margin-right: 1.5rem;
    background-color: #E9E9E9;
    border-radius: 1rem;
  }
  
  .notification-card .card-body{
    width: 100%;
    padding: 0.6rem;
  }
  
  .update-nag{
    display: block;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    height: 40px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin-bottom: 10px;
  }
    
  .update-nag:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
  }
    
  .update-nag > .update-split{
    background: #337ab7;
    width: 33px;
    float: left;
    color: #fff!important;
    height: 100%;
    text-align: center;
  }
    
  .update-nag > .update-split > .glyphicon{
    position:relative;
    top: calc(50% - 9px)!important; /* 50% - 3/4 of icon height */
  }
  .update-nag > .update-split.update-success{
    background: #5cb85c!important;
  }
    
  .update-nag > .update-split.update-danger{
    background: #d9534f!important;
  }
  
  .update-nag > .update-split.update-info{
    background: #5bc0de!important;
  }
  
  .update-nag > .update-text{
    line-height: 19px;
    padding-top: 11px;
    padding-left: 45px;
    padding-right: 20px;
  }
  
  .text-xs {
    font-size: .7rem;
  }
  
  .border-left-primary {
    border-left: .25rem solid #4e73df!important;
  }
  
  .border-left-success {
    border-left: .25rem solid #1cc88a!important;
  }
  
  .border-left-info {
    border-left: .25rem solid #36b9cc!important;
  }
  
  .border-left-warning {
    border-left: .25rem solid #f6c23e!important;
  }